@use "../abstracts/variables" as vars;

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (min-width: 600px) { @content; }
  } @else if $breakpoint == 'medium' {
    @media (min-width: 768px) { @content; }
  } @else if $breakpoint == 'large' {
    @media (min-width: 1024px) { @content; }
  } @else if $breakpoint == 'xlarge' {
    @media (min-width: 1200px) { @content; }
  }
}

@mixin fadeInUp ($count) {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: fadeInUp 0.5s ease-out forwards;
      animation-delay: 0.1s * $i;
    }
  }
}


