// Font
$font-family: "Roboto", sans-serif;
$font-family_2: "Shrikhand", cursive;


// Color 
$color_1:  #353535;
$color_2: #FFFF;
$color_new: #278870;
$color_check: #99E2D0;
$color_button: #7E7E7E;
$color_button_hover: #9356DC;
$background-color_1: #F6F6F6;
$background-color_new: #99E2D0;
$background_color_footer: #353535;


// General 
$padding-main: 20px;
