@use "./variables.scss";
@use "./mixins.scss";

.restaurant img {
    object-fit: cover;
    width: 346px;
    height: 231px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-family: variables.$font-family;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        margin: 20px auto;
    }
}

.navigation {
    display: flex;
    width: 100%;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.icone-navigation {
    display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 18px;
    margin-right: 17px;
    color: variables.$color_1;
}

input {
	border: none;
	background-color: #eee;
	color: variables.$color_1;
	width: 115px;
	&::placeholder {
		color: variables.$color_1;
		font-size: 1rem;
		font-weight: 500;
		opacity: 1;
		width:100%;
	}
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: variables.$background-color_1;
    h2 {
		margin: 0;
		padding: 10px 30px;
    }
    p{
        font-size: 18px;
		color: variables.$color_1;
        font-weight: 300;
        line-height: 21.09px;
		margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
    .button {
        margin-top: 10px;
        margin-bottom: 20px;
        .button-text {
            @include mixins.button;
        }
    }

}

