@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.fonctionnement {
    padding: vars.$padding-main;
    h2 {
        margin-top: 10px;
    }
    @include mix.respond-to('large') {
        padding: 1px 180px 20px 180px;
        h2 {
            margin-top: 20px;
        }
    }
    .fonctionnement__list {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
        padding-bottom: 10px;
        margin: auto;
        @include mix.respond-to('large') {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }
    .fonctionnement__list-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;
        padding: 4px 30px;
        gap: 30px;
        background-color: vars.$background-color_1;
        border: none;
        box-shadow: 0 4px 10px 0 #d5d5d5;
        cursor: pointer;
        @include mix.respond-to('large') {
            gap: 15px;
            width: 100%;
            &:hover {
                .fa-solid {
                    color: vars.$color_button_hover;
                }
            }
        }
        .fa-solid {
            color: vars.$color_button;
        }
        p {
            font-size: 16px;
        }
    }
    .fonctionnement__list-number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: vars.$color_2;
        background-color: vars.$color_button_hover;
    }

    .fonctionnement__list-button {
        position: relative;
        .fonctionnement__list-number{
            position: absolute;
            left: -11px;
            z-index: 1;
        }
    }
}