@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.footer {
    display: flex;
    flex-direction: column;
    background-color: vars.$background_color_footer;
    color: vars.$color_2;
    padding: 20px;
    @include mix.respond-to('large') {
        flex-flow: row-reverse;
        padding: 30px;
        align-items: center;
    }
    h2 {
        margin-top: 0;
        margin-right: 20px;
        font-family: vars.$font-family_2;
        font-size: 18px;
    }
    .footer__list {
        list-style-type: none;
        padding: 0;
        @include mix.respond-to('large') {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 15px;
            margin-right: 80px;
        }
        .footer__item {
            margin-bottom: 10px;
            .footer__link {
                text-decoration: none;
                color: vars.$color_2;
            }
        }
    }
}