@use "../abstracts/variables" as vars;

.footer {
    display: flex;
    flex-direction: column;
    background-color: vars.$background_color_footer;
    color: vars.$color_2;
    padding: 20px;
    h2 {
        margin-bottom: 20px;
        font-family: vars.$font-family_2;
        margin: 0;
    }
.footer__list {
    list-style-type: none;
    padding: 0;
    .footer__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        .footer__link {
            text-decoration: none;
            color: vars.$color_2;
        }
    }
}

}