@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.header {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: auto;
	justify-content: space-around;
	align-items: center;
	.header__logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		box-shadow: 0px 2px 4px 0px #00000026;
		z-index: 2;
		@include mix.respond-to('large') {
			box-shadow: none;
		}
	}
	.header__logo {
		object-fit: cover;
		height: 36px;
		padding: 20px;
	}
	.header__navigation {
		display: flex;
		width: 100%;
		background-color: #eee;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 50px;
		box-shadow: 0px 4px 4px 0px #00000040;
		z-index: 1;
		@include mix.respond-to('large') {
			box-shadow: none;
		}
	}
	.header__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 18px;
		margin-right: 17px;
		color: vars.$color_1;
	}
}

input {
	border: none;
	background-color: #eee;
	color: vars.$color_1;
	width: 115px;
	&::placeholder {
		color: vars.$color_1;
		font-size: 1rem;
		font-weight: 500;
		opacity: 1;
		width:100%;
	}
}



