@use "../abstracts/variables" as vars;

.header-menu {
    display: flex;
	width: auto;
	justify-content: space-around;
    .header-menu__nav {
        display: flex;
        align-items: center;
        .header-menu__back-link {
            position: absolute;
            left: 25px;
            .fa-solid {
                font-size: 23px;
            }
        }
        .header-menu__logo {
            object-fit: cover;
            height: 36px;
            padding: 20px;
        }
    }

}