@use "../abstracts/variables" as vars;

.restaurant__cards-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px #00000026;
    background-color: vars.$background-color_new;
    color: vars.$color_new;
    font-weight: 500;
    padding: 5px 10px; 
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
    #restaurant__cards-new-text-1,
    #restaurant__cards-new-text-2{
        margin: 0;
        font-weight: 500;
    }
}