@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: vars.$color_2;
  box-shadow: 0px 4.01px 15.04px 0px #0000001A;
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;

  &-title {
    flex: 1;
    max-width: calc(100% - 0px);
    transition: max-width 0.6s ease;
    h3 {
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      margin: 5px 0 0;
      font-size: 15px;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  &-price {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    transition: transform 0.6s ease;
  }
  
  &-check {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: -60px;
    height: 100%;
    width: 60px;
    margin-left: 15px;
    background-color: vars.$color_check;
    border-radius: 0 12px 12px 0;
    transition: right 0.6s ease;
    
    
    &::after {
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: vars.$color_2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
    }
  }
  
  .menu__item-checkbox {
    display: none;
  }

  .menu__item-label {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  .menu__item-checkbox:checked + .menu__item-label .menu__item-title {
    max-width: calc(100% - 130px);
  }

  .menu__item-checkbox:checked + .menu__item-label .menu__item-check {
    right: 0;
  }

  .menu__item-checkbox:checked + .menu__item-label .menu__item-price {
    transform: translateX(-60px);
  }

@include mix.fadeInUp(10);
}