@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: vars.$color_2;
  box-shadow: 0px 4.01px 15.04px 0px #0000001A;
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;

@include mix.fadeInUp(5);
@include mix.menuItemAnimation (vars.$color_check, vars.$color-2);
}