@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

body {
    justify-content: center;
    margin: 0;
    width: 100%;
    font-family: vars.$font-family;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: auto;
    justify-content: space-around;
    @include mix.respond-to('large') {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit; 
  }

