body {
  justify-content: center;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: auto;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .main-container {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
.header .header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
@media (min-width: 1024px) {
  .header .header__logo-container {
    box-shadow: none;
  }
}
.header .header__logo {
  object-fit: cover;
  height: 36px;
  padding: 20px;
}
.header .header__navigation {
  display: flex;
  width: 100%;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1;
}
@media (min-width: 1024px) {
  .header .header__navigation {
    box-shadow: none;
  }
}
.header .header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 18px;
  margin-right: 17px;
  color: #353535;
}

input {
  border: none;
  background-color: #eee;
  color: #353535;
  width: 115px;
}
input::placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-color: #F6F6F6;
}
.menu h2 {
  margin: 0;
  padding: 10px 30px;
}
.menu p {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
  line-height: 21.09px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.menu .menu__button-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement h2 {
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .fonctionnement h2 {
    margin-left: 91px;
    margin-top: 20px;
  }
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  padding-bottom: 10px;
  margin: auto;
}
@media (min-width: 1024px) {
  .fonctionnement .fonctionnement__list {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.fonctionnement .fonctionnement__list-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 4px 30px;
  padding-right: 0;
  width: 100%;
  gap: 30px;
  background-color: #F6F6F6;
  border: none;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media (min-width: 1024px) {
  .fonctionnement .fonctionnement__list-button {
    gap: 15px;
  }
}
.fonctionnement .fonctionnement__list-button .fa-solid {
  color: #7E7E7E;
}
.fonctionnement .fonctionnement__list-button .fa-solid:hover {
  cursor: pointer;
  color: #9356DC;
}
.fonctionnement .fonctionnement__list-button p {
  font-size: 16px;
}
.fonctionnement .fonctionnement__list-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.fonctionnement .fonctionnement__list-button {
  position: relative;
}
.fonctionnement .fonctionnement__list-button .fonctionnement__list-number {
  position: absolute;
  left: -11px;
  z-index: 1;
}

.restaurants {
  padding: 20px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 1px 100px 40px 110px;
    margin-top: 20px;
  }
}
.restaurants h2 {
  margin-top: 30px;
  margin-bottom: 0;
}
.restaurants .restaurant__cards {
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .restaurants .restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.restaurants .restaurant__cards-content {
  width: 100%;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #DADADA;
  position: relative;
}
.restaurants .restaurant__cards-content img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurants .restaurant__cards-content h2 {
  margin: 10px 0px 6px 15px;
  font-size: 18px;
}
.restaurants .restaurant__cards-content p {
  margin: 0px 0px 10px 15px;
  font-weight: 300;
  font-size: 17px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 20px;
}
@media (min-width: 1024px) {
  .footer {
    flex-flow: row-reverse;
    padding: 30px;
    align-items: center;
  }
}
.footer h2 {
  margin-top: 0;
  margin-right: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
.footer .footer__list {
  list-style-type: none;
  padding: 0;
}
@media (min-width: 1024px) {
  .footer .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    margin-right: 80px;
  }
}
.footer .footer__list .footer__item {
  margin-bottom: 10px;
}
.footer .footer__list .footer__item .footer__link {
  text-decoration: none;
  color: white;
}

.header__menu {
  display: flex;
  width: auto;
  justify-content: space-around;
}
.header__menu .header__menu-nav {
  display: flex;
  align-items: center;
}
.header__menu .header__menu-nav .header__menu-back-link {
  position: absolute;
  left: 25px;
}
.header__menu .header__menu-nav .header__menu-back-link .fa-solid {
  font-size: 23px;
}
.header__menu .header__menu-nav .header__menu-logo {
  object-fit: cover;
  height: 36px;
  padding: 20px;
}

.menu-section {
  margin-bottom: -80px;
}
.menu-section .menu__section-image {
  object-fit: cover;
  width: 100%;
  height: 375px;
}
.menu-section .menu__container {
  transform: translate(0px, -80px);
  padding: 20px;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu-section .menu__container .menu__section-title {
  font-family: "Shrikhand", cursive;
}
.menu-section .menu__container .menu__section-title h1 {
  font-size: 28px;
}
.menu-section .menu__container .menu__section-title .menu__section-favorite {
  top: -8px;
}
@media (min-width: 1024px) {
  .menu-section .menu__container .menu__section-title {
    display: flex;
    justify-content: center;
    padding-right: 60px;
  }
  .menu-section .menu__container .menu__section-title .menu__section-favorite {
    top: 80px;
    left: 80px;
  }
}
@media (min-width: 1024px) {
  .menu-section .menu__container {
    padding: 1px 100px 40px 110px;
    max-width: 700px;
    margin: 0 auto;
  }
}
.menu-section .menu__cards-title h2 {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: solid 3px #99E2D0;
  width: 50px;
  padding-bottom: 8px;
}
.menu-section .menu__button-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: white;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
.menu__item-title {
  flex: 1;
  max-width: calc(100% - 0px);
  transition: max-width 0.6s ease;
}
.menu__item-title h3 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item-title p {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item-price {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: transform 0.6s ease;
}
.menu__item-check {
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: -60px;
  height: 100%;
  width: 60px;
  margin-left: 15px;
  background-color: #99E2D0;
  border-radius: 0 12px 12px 0;
  transition: right 0.6s ease;
}
.menu__item-check::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
.menu__item:hover .menu__item-title {
  max-width: calc(100% - 130px);
}
.menu__item:hover .menu__item-check {
  right: 0;
}
.menu__item:hover .menu__item-price {
  transform: translateX(-60px);
}

.restaurant__cards-new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}
.restaurant__cards-new #restaurant__cards-new-text {
  margin: 0;
  font-weight: 500;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-image 0.3s, box-shadow 0.3s;
}
.menu__button:hover {
  background-image: linear-gradient(to bottom, rgb(255, 172, 232.0820895522), #9356DC);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.restaurant__cards-icon,
.menu__section-favorite {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.restaurant__cards-icon input[type=checkbox],
.menu__section-favorite input[type=checkbox] {
  display: none;
}
.restaurant__cards-icon .icon-fill,
.restaurant__cards-icon .icon-empty,
.menu__section-favorite .icon-fill,
.menu__section-favorite .icon-empty {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 25.6px;
  cursor: pointer;
  transition: 0.2s linear;
}
.restaurant__cards-icon .icon-fill,
.menu__section-favorite .icon-fill {
  opacity: 0;
  z-index: 2;
  background: linear-gradient(0deg, #df6fda 50%, #ab5edc 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.restaurant__cards-icon .icon-empty,
.menu__section-favorite .icon-empty {
  opacity: 1;
}
.restaurant__cards-icon input[type=checkbox]:checked + .icon-empty,
.menu__section-favorite input[type=checkbox]:checked + .icon-empty {
  opacity: 0;
}
.restaurant__cards-icon input[type=checkbox]:checked + .icon-empty + .icon-fill,
.menu__section-favorite input[type=checkbox]:checked + .icon-empty + .icon-fill {
  opacity: 1;
  color: white;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.lds-dual-ring {
  color: #1c4c5b;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
